<h1>New Article</h1>

<%= render 'form', article: @article %>
<%= link_to 'Only signed up users can write a new article so Login (if already have an account)', login_path %>

<%= link_to 'Back', articles_path %>
